<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bp.jaringochi.domain.transaction.dao.TransactionDao">

	<select id="selectTransactions" parameterType="Transaction">
		SELECT 
			id,
			user_id,
			category_id,
			amount,
			type,
			memo,
			`date`
		FROM
			`transaction`
		WHERE user_id = #{userId}
		
		<if test="startDate != null">
			AND `date` &gt;= #{startDate}  <!-- &gt;=  비교연산자 >= -->
		</if>
		
		<if test="endDate != null">
			AND `date` &lt;= #{endDate}    <!-- &lt;=  비교연산자 <= -->
		</if>
		
		<if test="type != null">
			AND type = #{type}
		</if>
		
		<if test="categoryId != null">
			AND category_id = #{categoryId}
		</if>
		
		ORDER BY `date` DESC, id DESC
	</select>
	
	<select id="selectTransactionById" parameterType="Transaction">
		SELECT 
			id,
			user_id,
			category_id,
			amount,
			type,
			memo,
			`date`
		FROM
			`transaction`
		WHERE id = #{id}
		  AND user_id = #{userId}
	</select>

	<insert id="insertTransaction" parameterType="Transaction" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `transaction`
			(user_id, category_id, amount, type, memo, `date`)
		VALUES
			(#{userId}, #{categoryId}, #{amount}, #{type}, #{memo}, #{date})
	</insert>
	
	<update id="updateTransaction" parameterType="Transaction">
		UPDATE `transaction`
		SET category_id = #{categoryId},
		    amount = #{amount},
		    type = #{type},
		    memo = #{memo},
		    `date` = #{date}
		WHERE id = #{id}    
		  AND user_id = #{userId}
	</update>
	
	<delete id="deleteTransaction">
		DELETE FROM `transaction`
		WHERE id = #{id}
		  AND user_id = #{userId}
	</delete>
	
</mapper>